<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				         http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				         http://www.springframework.org/schema/aop
				         http://www.springframework.org/schema/aop/spring-aop.xsd
						 http://www.springframework.org/schema/tx
						 http://www.springframework.org/schema/tx/spring-tx.xsd
						 http://www.springframework.org/schema/context 
				         http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/meetu" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="30" />
		<property name="minIdle" value="5" />
		<property name="maxWait" value="30" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		scope="singleton">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>org/meetu/model/User.hbm.xml</value>
				<value>org/meetu/model/LocationCurr.hbm.xml</value>
				<value>org/meetu/model/LocationHis.hbm.xml</value>
				<value>org/meetu/model/FriendReq.hbm.xml</value>
				<value>org/meetu/model/Feedback.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
				<prop key="current_session_context_class">
					thread
				</prop>
				<prop key="hibernate.hbm2ddl.auto">
					update
				</prop>
				<prop key="hibernate.format_sql">
					true
				</prop>
				<prop key="hibernate.use_sql_comments">
					true
				</prop>
			</props>
		</property>
	</bean>

	<!-- 自动扫描注解类所在的包 -->
	<context:component-scan base-package="org.meetu" />


	<!-- about tx -->
	<tx:annotation-driven />
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<aop:config>
		<aop:pointcut id="servicePointcut"
			expression="execution(public * com.health.service.impl..*.*(..))" />
		<aop:advisor pointcut-ref="servicePointcut" advice-ref="txAdvice" />
	</aop:config>


	<!-- 声明式事务管理 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="insert" propagation="REQUIRED" />
			<tx:method name="delete" propagation="REQUIRED" />
			<tx:method name="update" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>



</beans>