<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 
  元素类型为 "configuration" 的内容必须匹配 
  "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,
  plugins?,environments?,databaseIdProvider?,mappers?)"这个顺序还要匹配...T_T
   -->
<configuration>
  <typeAliases>
  	<typeAlias alias="User" type="org.meetu.model.User"/>
  	<package name="org.meetu.model"/>
  </typeAliases>  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://123.57.158.124:3306/meetu"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="org/meetu/dao/mybatis/sqlMap/UserMapping.xml"/>
  </mappers>
  

</configuration>